<p>Выбери заклинание</p>
<audio src = "audio/list.mp3" autoplay></audio>
<div class = "rain_spell first_spell">
    <input type = "radio" name = "select_spell" id = "rain_spell" value = "rain_spell" checked>
    <label for = "rain_spell">Заклинание дождя
        <img src = "../../../images/clouds.png" alt = "дождь">
    </label>        
</div>
<div class = "rain_spell second_spell">        
    <input type = "radio" name = "select_spell" id = "snow_spell" value = "snow_spell">
    <label for = "snow_spell">Заклинание снега
        <img src = "../../../images/snow.png" alt = "снег">
    </label>
</div>
<div>
    <input type = "submit" value = "Выбрать" id = "select_spell">
</div> 