.form_same_pictures
{
    width: 800px;
    padding: 20px 0;
    background-color: white;
    border: 5px solid #61861F;
    border-radius: 20px;
    right: calc(50vw - 400px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
.form_same_pictures input[type = "number"]
{
    height: 20px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #61861F;
    background-color: #f9ebd5;
    padding: 10px;
    outline: none;
    margin: 0 5px;
}
.form_same_pictures input[type = "number"]:focus
{
    background-color: white;
}
.form_same_pictures input[type = "submit"]
{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: #85ad3d;
    outline: none;
    border: 1px solid #61861F;
}
.form_same_pictures input[type = "submit"]:hover
{
  background-color:#61861F;
  color: #E2D8A5;  
}
.form_same_pictures>p
{
    font-size: 16px;  
    font-weight: bold;   
    margin-bottom: 10px;
}
.wrapper_same_pictures
{
    margin: 20px 0;
}
.wrapper_same_pictures p 
{
    text-align: center;
}