<div class = "wrapper_start_form">
    <input type = "button" value = "Таблица рекордов" id = "button_top_of_players" class = "button_top_of_players">
    <form class = "form_about_player" id = "form_about_player"> 
        <p><label><span>Имя</span><input type="text" required></label></p>
        <div class="wrapper_choose_player">
            <p>Выбери, кем хочешь играть</p>
            <input type="radio" id="man" name="choose_player" value="man.png" checked><label for = "man"><img src="../../../images/player/man.png"></label>
            <input type="radio" id="woman" name="choose_player" value="woman.png"><label for = "woman"><img src="../../../images/player/woman.png"></label>
        </div>
        <div class="wrapper_button_start">
            <input type = "button" value = "ИГРАТЬ!" id = "button_start">
        </div>
    </form>
<div>

